<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="login()">

    <mat-form-field class="group">
      <input
        matInput
        type="text"
        name="nombre"
        placeholder="Nombre"
        formControlName="nombre"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>Por favor escribe tu nombre</strong>
        </span>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="group">
      <input
        matInput
        type="text"
        name="correo"
        placeholder="Correo Electrónico"
        formControlName="mail"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>Ingresa tu e-mail</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="group">
      <input
        matInput
        type="password"
        name="password"
        placeholder="Password"
        formControlName="clave"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>Es necesario escribir una Contraseña</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="group">
    <input
      matInput
      type="password"
      name="passwordConfirm"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
      required
    >
    </mat-form-field>

    <div class="buttonCont">
      <a class="registers"  (click)="registerActivate('usuario')">Registrar Usuario</a>
      <a class="registers" (click)="registerActivate('empresa')">Registrar Empresa</a>
    </div>

    <button mat-raised-button color="primary" type="submit">Registro</button>

  </form>
</div>


<app-register
  *ngIf="modal"
  [entity]="entity"
  (deactivateRegister)="modalOff($event)"
></app-register>


