<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="registrar()">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="correo"
        placeholder="Correo electrónico"
        formControlName="mail"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*El correo es requerido</strong>
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="nombre"
        placeholder="Nombre"
        formControlName="nombre"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*El Nombre es requerido</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        name="linkedin"
        formControlName="linkedin"
        placeholder="linkedin"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Your Last Name is required</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        name="pagweb"
        placeholder="pagweb"
        formControlName="pagweb"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Your Last Name is required</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        name="pais"
        placeholder="pais"
        formControlName="pais"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Your Last Name is required</strong>
        </span>
     </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        cols="30"
        rows="6"
        name="descripcion"
        placeholder="descripcion"
        formControlName="descripcion"
        required
      >
      </textarea>
      <mat-error>
        <span class="form_error">
          <strong>*Password is required</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
      matInput
        type="password"
        name="password"
        placeholder="Password"
        formControlName="clave"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Password is required</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <input
     matInput
      type="password"
      name="passwordConfirm"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
      required
    >
    <button mat-raised-button color="primary" type="submit">Registro</button>
    <!--<input class="submit" type="submit" value="Sign Up">-->
  </form>
</div>
