
.wrapper{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
}

.group{
  width: 45%;
  min-width: 200px;
  padding: 10px;
}
.textAreagroup{
  width: 90%;
  margin: 0 auto;
  border: 1px solid red;
}

form{
  min-width: 200px;
  width: 500px;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  border: 1px solid red;
  padding: 10px;

}

textarea{

  display: block;
  width: 90%;
  margin: 15px auto 5px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
  color: black;
}

input:-webkit-autofill {
  border: none;
  -webkit-text-fill-color: rgb(20, 20, 20);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

