<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="registrar()">
    <p class="group">
      {{entity}}
    </p>
    <mat-form-field class="group">
      <input
        matInput
        type="text"
        name="nombre"
        placeholder="Nombre"
        formControlName="nombre"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>Por favor escribe tu nombre</strong>
        </span>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="group">
      <input
        matInput
        type="text"
        name="correo"
        placeholder="Correo Electrónico"
        formControlName="mail"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>Ingresa tu e-mail</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="group">
      <input
        matInput
        type="text"
        name="linkedin"
        formControlName="linkedin"
        placeholder="Linkedin"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>Escribe tu LinkedIn</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="group">
      <input
        matInput
        type="text"
        name="pagweb"
        placeholder="Pagina Web"
        formControlName="pagweb"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>Escribe tu pagina Web</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="group">
      <input
        matInput
        type="text"
        name="pais"
        placeholder="Pais"
        formControlName="pais"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>Cual es tu pais?</strong>
        </span>
     </mat-error>
    </mat-form-field>



    <mat-form-field class="group">
      <input
        matInput
        type="password"
        name="password"
        placeholder="Password"
        formControlName="clave"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>Es necesario escribir una Contraseña</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="group">
    <input
      matInput
      type="password"
      name="passwordConfirm"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
      required
    >
    </mat-form-field>

    <mat-form-field class="textAreagroup">
      <textarea
        matInput
        cols="30"
        rows="6"
        name="descripcion"
        placeholder="Descripcion"
        formControlName="descripcion"
        required
      >
      </textarea>
      <mat-error>
        <span class="form_error">
          <strong>Escribe una descripcion</strong>
        </span>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Registro</button>



  </form>
  <button mat-raised-button color="primary" (click)="modalOff()" >Cerrar Registro</button>
</div>
