<div style="display: flex; justify-content: space-between">
  <h1>Bootcamps</h1>
  <h2>{{rolUsuario !== 'usuario'? 'Mis bootcamps': 'Mis inscripciones'}}</h2>
  <button mat-raised-button color="primary" type="submit">Crear bootcamp</button>
</div>
<ng-container *ngIf="rolUsuario === 'usuario'; else EmpresaTemp">
  <div *ngFor="let bootcamp of bootcamps; index as i">
    <app-item [bootcamp]="bootcamp" [isUser]="true"></app-item>
  </div>
</ng-container>
<ng-template #EmpresaTemp>
  <div *ngFor="let bootcamp of bootcamps; index as i">
    <app-item [bootcamp]="bootcamp" [isUser]="false"></app-item>
  </div>
</ng-template>
